@import "../../global.scss";

.skills{
    background-color: whitesmoke;
    text-align: center;
    box-sizing: border-box;

    h1{
        font-size: 3rem;

        @include mobile{
            font-size: 40px;
            padding: 1rem 0;
        }
    }


    .container{
        display: flex;
        height: 88%;

        @include mobile{
            flex-direction: column;
        }
    
        .left{
            flex: 0.5;
            display: flex;
            justify-content: center;
            align-items: center;
    
            .inside-left{
                width: 60%;
                min-height: 85%;  
                display: flex;
                align-items: center;  
                justify-content: space-around;
                flex-wrap: wrap;
                background-color: rgb(224, 224, 223);
                border-radius: 12.5%;
                
                @include mobile{
                    width: 90%;
                    border-radius: 2%;
                }

                @include mid{
                    min-width: 100%;
                }
               
                
                .skillBox{
                    margin: 1rem;
                    background-color: white;
                    border:1px solid white;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1rem;

                    @include mobile{
                        margin: 0.2rem;
                    }

                    @include mid{
                        margin: 0;
                    }
                    
    
                    img{
                        height: 5rem;
                        width: 5rem;

                        @include mobile{
                            height: 2.8rem;
                            width: 2.8rem;
                        }
                    }
                }
                
            }
    
        }
    
        .right{
            flex: 0.5;
            display: flex;
            justify-content: center;
            align-items: center;

            @include mobile{
                flex:0.4;
            }

            .container{
                width: 80%;
                height: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                @include mobile{
                    justify-content: flex-start;
                    width: 100%;
                }

                .edu{
                    box-sizing: border-box;
                    background-color: #e0e0dfb3;
                    border-radius: 1.8rem;
                    min-height: 6rem;
                    width: 90%;
                    padding: 1rem;
                    margin-top: 0.2rem;
                    font-family: sans-serif;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    

                    @include mobile{
                        padding: 5px;
                        min-height: 4rem;
                        border-radius: 1rem;
                        overflow: hidden;
                    }

                    h3{
                        font-size: 1.5rem;
                        font-weight: 600;

                        @include mobile{
                            font-size: 1.1rem;
                        }
                    }
                    p{
                        margin-top: 5px;
                        color: crimson;
                        font-weight: 500;

                        @include mobile{
                            font-size: 0.7rem;
                        }

                        .year{
                            @include mobile{
                                display: none;
                            }  
                        }
                    }
                }
            }
        }
    }
}

